{% extends 'base.html.twig' %}
{% block title %}Bug Reports{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <H1>Bug Reports</H1>
{% endblock %}
{% block javasript %}

{% endblock %}