{% extends 'base.html.twig' %}
{% block title %}Home Page{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <H1>Home Page</H1>
{% endblock %}
{% block javasript %}

{% endblock %}