{% extends 'base.html.twig' %}
{% block title %}New Bug Report{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <H1>New Bug Report</H1>
{% endblock %}
{% block javasript %}

{% endblock %}